<div class="card grey lighten-5 z-depth-5">
  <div class="card-content black-text">
    <span class="card-title management">Power socket</span>

    <div class="switch">
      <label>
        <b><span class="place">Current Status:  </span></b>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>
    <p><b><span class="place">User: </span></b>  </p>
    <p><b><span class="place">Tax: </span></b>  </p>

  </div>
  <div class="card-action">
    <!--<a href="#">This is a link</a>-->
    <!--<a href="#">This is a link</a>-->
  </div>
</div>
