<div class="card grey lighten-5 z-depth-4">
  <div class="card-content black-text">
    <!--<span class="card-title">Card Title</span>-->
    <!--<p>I am a very simple card. I am good at containing small bits of information.-->
      <!--I am convenient because I require little markup to use effectively.</p>-->
    <img class="responsive-img" src="../../../../assets/img/diagram.png">
  </div>
  <!--<div class="card-action">-->
    <!--<a href="#">This is a link</a>-->
    <!--<a href="#">This is a link</a>-->
  <!--</div>-->
</div>
